/* styles/About.module.css */

.container {
    background-color: #e6ccff;
    color: #4b0082;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    color: #4b0082;
  }
  
  .ul {
    list-style-type: square;
    padding-left: 20px;
    color: #4b0082;
  }
  